.btn-rounded{
  border-radius: 10rem;
}
.btn-primary{
  padding-left: 1.1em;
  padding-right: 1.2rem;
  background-image: linear-gradient(
 140deg
  ,#2bde8c,#7aef4d);
  border:none;
}
.not-found{
  margin-top:15rem !important;

}
.not-found h1{
  font-size: 70px;
}